{% extends "base.html"%}

{% load static %}
{% block title %}
    About Us
{% endblock title %}

{% block sidenav %}
{% for item in item_list %}
<li>
    <a href="{{ item.link }}">{{item.item}}</a>
</li>
{% endfor %}
{% endblock sidenav %}
{% block content %}
<h1 align="center">ABout Us</h1>
<h1>We are a team of computer science students, working towards the development of a book exchange
    program for easy use and connectivity. We will continue to work toward that goal, because no
    program is ever really done.
</h1>
<h3 align="center">
    Our Team
</h3>
<p align="center">
    Norma Argueta | Curtis Batters | Sunheng Leng
</p>
<p align="center">
    George Melendrez | Evan Peraza | Sanskar Thapa
</p>
{% endblock content %}
